@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "winter";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-light: #141414;
    --color-dark: #fff;
    --color-infoMovie: #ff0000;
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97.466% 0.011 259.822);
    --color-base-300: oklch(93.268% 0.016 262.751);
    --color-base-content: oklch(41.886% 0.053 255.824);
    --color-primary: oklch(56.86% 0.255 257.57);
    --color-primary-content: oklch(91.372% 0.051 257.57);
    --color-secondary: oklch(42.551% 0.161 282.339);
    --color-secondary-content: oklch(88.51% 0.032 282.339);
    --color-accent: oklch(59.939% 0.191 335.171);
    --color-accent-content: oklch(11.988% 0.038 335.171);
    --color-neutral: oklch(19.616% 0.063 257.651);
    --color-neutral-content: oklch(83.923% 0.012 257.651);
    --color-info: oklch(88.127% 0.085 214.515);
    --color-info-content: oklch(17.625% 0.017 214.515);
    --color-success: oklch(80.494% 0.077 197.823);
    --color-success-content: oklch(16.098% 0.015 197.823);
    --color-warning: oklch(89.172% 0.045 71.47);
    --color-warning-content: oklch(17.834% 0.009 71.47);
    --color-error: oklch(73.092% 0.11 20.076);
    --color-error-content: oklch(14.618% 0.022 20.076);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "night";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-light: #fff;
    --color-dark: #141414;
    --color-infoMovie: #ff0000;
    --color-base-100: oklch(20.768% 0.039 265.754);
    --color-base-200: oklch(19.314% 0.037 265.754);
    --color-base-300: oklch(17.86% 0.034 265.754);
    --color-base-content: oklch(84.153% 0.007 265.754);
    --color-primary: oklch(75.351% 0.138 232.661);
    --color-primary-content: oklch(15.07% 0.027 232.661);
    --color-secondary: oklch(68.011% 0.158 276.934);
    --color-secondary-content: oklch(13.602% 0.031 276.934);
    --color-accent: oklch(72.36% 0.176 350.048);
    --color-accent-content: oklch(14.472% 0.035 350.048);
    --color-neutral: oklch(27.949% 0.036 260.03);
    --color-neutral-content: oklch(85.589% 0.007 260.03);
    --color-info: oklch(68.455% 0.148 237.251);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(78.452% 0.132 181.911);
    --color-success-content: oklch(15.69% 0.026 181.911);
    --color-warning: oklch(83.242% 0.139 82.95);
    --color-warning-content: oklch(16.648% 0.027 82.95);
    --color-error: oklch(71.785% 0.17 13.118);
    --color-error-content: oklch(14.357% 0.034 13.118);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

[data-theme="winter"] {
    --color-light: #141414;
    --color-light-rgb: 227, 233, 244;
    --color-infoMovie: oklch(27.949% 0.036 260.03);
    --color-dark: #fff;
    --color-dark-rgb: 255, 255, 255;
}

[data-theme="night"] {
    --color-infoMovie: rgba(255, 255, 255, 0.9);
    --color-light: #fff;
    --color-dark: #141414;
    --color-light-rgb: 26, 26, 26;
    --color-dark-rgb: 20, 20, 20;
}

@theme {
    --color-light: #fff;
    --color-dark: #141414;
    --color-infoMovie: oklch(27.949% 0.036 260.03);
    --color-avocado-100: oklch(0.99 0 0);
    --font-satoshi: Satoshi, "sans-serif";
    --font-poppins: Poppins, sans-serif;
    --font-montserrat: Montserrat, "sans-serif";
}

/* @theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
} */

[x-cloak] {
    display: none !important;
}

/* NavBar Vignette */
.nav-vignette {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 10%,
        transparent
    );
}
/* .nav-vignette {
   shadow-[inset_0_145px_30px_-110px_rgba(0,0,0,0.3)]
} */

.hero-vignette {
    /* background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 8%, 0) 0,
        hsla(0, 0%, 8%, 0.15) 15%,
        hsla(0, 0%, 8%, 0.35) 29%,
        hsla(0, 0%, 8%, 0.58) 44%,
        #141414 68%,
        #141414
    ); */
    background-image: linear-gradient(
        180deg,
        rgba(var(--color-dark-rgb), 0) 0%,
        rgba(var(--color-dark-rgb), 0.15) 15%,
        rgba(var(--color-dark-rgb), 0.35) 29%,
        rgba(var(--color-dark-rgb), 0.58) 44%,
        var(--color-dark) 68%,
        var(--color-dark)
    );
}
.left-vignette {
    background-image: linear-gradient(
        77deg,
        rgba(0, 0, 0, 0.6),
        transparent 85%
    );
}

/* Title Container */
.title-container {
    /* Gunakan vw untuk width yang responsif */
    width: 36vw;
    min-width: 280px; /* Minimum width agar tidak terlalu kecil */
    max-width: 500px; /* Maximum width agar tidak terlalu besar */
}
@media (max-width: 768px) {
    .title-container {
        width: 50vw;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .title-container {
        width: 60vw;
        max-width: 250px;
    }
}
/* Hamburger Menu */
.transition-hamburger {
    transition: all ease-out 1s;
}

/* Carousell */

/* CTA Button */
@theme {
    --animate-rightEnter: rightEnter 0.9s cubic-bezier(0.87, -1.38, 0.03, 1.54)
        forwards;

    @keyframes rightEnter {
        0%,
        100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(0.6em);
        }
    }
}

/* Card Carousell */

.card-vignette {
    /* background: linear-gradient(
        180deg,
        transparent,
        rgba(255, 255, 255, 0.658) 50.42%,
        rgb(255, 255, 255)
    ); */
    background: linear-gradient(
        180deg,
        transparent,
        rgba(var(--color-dark-rgb), 0.658) 50.42%,
        var(--color-dark)
    );
}
@layer utilities {
    .hover\:card-hover:hover {
        inset: 0;
        height: max-content;
        position: absolute !important;
        z-index: 8000 !important;

        animation:
            pickUp 0.5s forwards,
            pickUpScale 0.1s forwards;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

/* Animation Card Hover */
@theme {
    --animate-pickUp: pickUp 0.2s ease-out forwards, pickUpScale 0.1s forwards;
    --animate-notPick:
        notPick 0.3s ease-out forwards, notPickScale 0.5s ease-out forwards,
        cardContentShow 0.4s ease-in-out forwards;

    --animate-showUp: showUp 0.5s cubic-bezier(0.18, 0.89, 0.87, 0.7) forwards;
    --animate-showContent: showContent 0.3s ease-in-out forwards;
    @keyframes pickUp {
        to {
            top: -14%;
            background-color: rgba(var(--color-light-rgb), 0.3);
            backdrop-filter: blur(20px);
        }
    }
    @keyframes pickUpScale {
        to {
            transform: scale(110%);
        }
    }
    @keyframes notPick {
        0% {
            top: -14%;
            transform: scale(110%);
            background-color: rgba(var(--color-light-rgb), 0.3);
            backdrop-filter: blur(20px);
        }
        100% {
            top: 0;

            background-color: rgba(var(--color-light-rgb), 0.5);
            backdrop-filter: blur(20px);
        }
    }
    @keyframes notPickScale {
        to {
            transform: scale(100%);
        }
    }
    @keyframes cardContentShow {
        from {
            height: max-content;
        }
        to {
            height: 22.5vw;
        }
    }

    /* Bottom Card */
    @keyframes showUp {
        0% {
            opacity: 0;
            transform: translateY(0px);
        }
        50% {
            opacity: 50%;
            transform: translateY(-1vw);
        }
        to {
            opacity: 100%;
            transform: translateY(0px);
        }
    }
    @keyframes showContent {
        0% {
            transform: scale(0.975);
            opacity: 0;
        }
        to {
            transform: scale(1);

            opacity: 100%;
        }
    }
}

/* Button Pagination Swiper */
.btn-pagination {
    transition: opacity 0.3s cubic-bezier(0.7, 0, 0.2, 1); /* Easing yang lebih natural */
}
.swiper-card:hover .btn-pagination,
.swiper-card:has(.card-container:hover) .btn-pagination {
    opacity: 1;
}
.swiper-card:has(.momo:hover) .btn-pagination {
    opacity: 0;
}

@theme {
    --animate-fading: fading 0.5s forwards;

    @keyframes fading {
        to {
            opacity: 1;
        }
    }
}
